body {
    background-color: black;
    font-family: monospace;
    color: #0F0;
    font-weight: bold;
}

input {
    background-color: black;
    font-family: monospace;
    border: 2px solid #0F0;
    color: #0f0;
}

div#content {
    padding-left: 1em;
}

div#footer {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.7em;
}

a {
    color #0F0;
    text-decoration: underline;
}

a:hover {
    color: #0F0;
}

a:visited {
    color: #0F0;
}