[Unit]
Description=Level 1 for Puzzle Box 1
After=syslog.target

[Service]
Type=simple
User=pi
Group=pi
WorkingDirectory=/home/pi/box1/web/
ExecStart=/usr/bin/python /home/pi/box1/web/level1.py
Restart=always
RestartSec=2

[Install]
WantedBy=box1_level1.target