<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block head %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"/>
    <title>{% block title %}{% endblock %}</title>
    {% endblock %}
</head>
<body>
    <h1>{% block header %}{% endblock %}</h1>
    <div id="content">
        {% block content %}{% endblock %}
    </div>
    <div id="footer">
        {% block footer %}
        Puzzle box examples &copy; 2017 by idk some people.
        {% endblock %}
    </div>
</body>
</html>