{% extends "layout.html" %}
{% block title %}Level 2{% endblock %}
{% block header %}Level 2{% endblock %}
{% block content %}
    <p>Welcome to level 2.</p>
    <form action="/winner" method="post">
        <label for="password">Please enter the password to proceed</label>
        <input type="password" id="password" name="password"/>
        <input type="submit" value="Proceed"/>
    </form>
    <p>In the meantime, please enjoy some <a href="/gallery">pretty pictures</a>.</p>
{% endblock %}